@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P:wght@300;400;500&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(245, 245, 245);
  margin: 0;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.math-game {
  color: rgb(74, 74, 74);
  font-family: "Press Start 2P";
  margin-top: 0;
  font-size: 2.5rem;
  background-color: white;
  border: 10px solid rgba(74, 74, 74, 1);
  border-radius: 20px;
  padding: 15px;
}
.container {
  min-height: 150px;
  background-color: rgb(237, 50, 247);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(40, 0, 65);
  width: 370px;
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}

.line {
  width: 100px;
  height: 1px;
  background-color: black;
  margin: 10px;
}

.game input {
  width: 20%;
  height: 50px;
  font-size: 2rem;
  text-align: center;
  border: 2px solid rebeccapurple;
  border-radius: 2px;
}
.question {
  text-align: right;
  width: 50px;
}
div h2 {
  margin: 0px;
}
#second-number {
  position: relative;
}
#operation {
  position: absolute;
  left: -10px;
}
.score-container {
  position: absolute;
  top: 30px;
  right: 50px;
  background-color: pink;
  border-radius: 5px;
  border: 1px solid black;
  padding: 15px;
  font-size: 1.5rem;
  color: white;
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.3);
}

.wrong-container {
  position: absolute;
  top: 100px;
  right: 50px;
  
  /* width: 195px; */
  background-color: orangered;
  border-radius: 5px;
  border: 1px solid black;
  padding: 15px;
  font-size: 1.5rem;
  letter-spacing: .065rem;
  color: white;
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.timer {
  position: absolute;
  background-color: pink;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  top: 30px;
  left: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.3);
}

.timer:hover {
  background-color: rgba(255, 192, 203, 0.6);
}
.timer:active {
  transform: scale(0.98);
}

.high-score {
  position: absolute;
  background-color: pink;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  top: 100px;
  left: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.3);
}

.high-score:hover {
  background-color: rgba(255, 192, 203, 0.6);
}
.high-score:active {
  transform: scale(0.98);
}
.high-scores-container {
  position: absolute;
  top: 170px;
  left: 50px;
  color: white;
  z-index: 10;
  text-align: center;
  background-color: pink;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.3);
  transform: translateX(-390px);
  transition: transform 0.5s ease;
}

.show {
  transform: translateX(0px);
}

.correct {
  font-family: '';
  font-size: 1.65rem;
  box-shadow: 0 0 6px 10px rgba(255, 110, 175, 0.5);
  border-radius: 5px;
}
.wrong {
  box-shadow: 0 0 6px 10px rgba(255, 12, 50, 0.5);
  border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.modal {
  position: absolute;
  top: 110px;
  background-color: aliceblue;
  border: 10px solid rgb(41, 41, 41);
  border-radius: 10px;
  padding: 20px 30px;
  font-size: 2rem;
  text-align: center;
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-600px);
  transition: transform 0.6s ease;
  z-index: 10;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  border: 5px solid rgb(41, 41, 41);
  cursor: pointer;
}

.fa-heart {
  position: absolute;
  color: rgb(255, 147, 165);
  font-size: 5rem;
  animation: grow 0.6s linear;
  transform: translate(-50%, -50%) scale(0);
}

.fa-x {
  position: absolute;
  color: red;
  font-size: 5rem;
  animation: grow 0.6s linear;
  transform: translate(-50%, -50%) scale(0);
}

.settings {
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 45px;
  left: 15px;
  transition: transform 0.6s;
}
.settings:hover {
  transform: rotate(60deg);
}

.modal input {
  font-size: 2rem;
  width: 70px;
}
.modal div {
  margin: 10px;
}

#player {
  width: 200px;
}
@media only screen and (max-width: 860px) {
  .math-game {
    color: transparent;
    background-color: transparent;
  border: none;
  }
}
@media only screen and (max-width: 415px) {
  .modal {
    font-size: 1.5rem;
  }
  .wrong-container,
  .high-score,
  .timer,
  .score-container {
    font-size: 1.05rem;
    padding: 16px 10px;
  }
  .score-container,
  .wrong-container {
    right: 20px;
  }
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}
