@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P:wght@300;400;500&display=swap');
* {
  box-sizing: border-box;
}

:root {
  /* --bg-color: #d8f0d8;
  --main-color: #7878c0;
  --alt-main-color: #8E4C9E;
  --main-pink: #f0c0d8; */

  --bg-color: #163d57;
  --main-color: #0c2427;
  --alt-main-color: #8e4c9e;
  --main-pink: #8e4c9e;
  --white: #f1f3f8;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bg-color);
  margin: 0;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 650px;
  overflow-x: hidden;
}
.math-game {
  color: var(--white);
  font-family: 'Press Start 2P';
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 2.5rem;
  background-color: var(--main-pink);
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.3);
  border: 5px solid var(--main-color);
  border-radius: 10px;
  padding: 25px;
}
.game {
  margin: 100px auto;
}
.container {
  min-height: 250px;
  min-width: 350px;
  background-color: var(--alt-main-color);
  border-radius: 10px;
  /* margin: 50px auto; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: 700;
  font-size: 1.1rem;
  border: 5px solid var(--main-color);
  /* width: 370px; */
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.3);
}
.question {
  text-align: right;
}
.line {
  width: 100px;
  height: 2px;
  background-color: var(--white);
  margin: 10px;
}

.game input {
  width: 30%;
  height: 50px;
  font-size: 2rem;
  text-align: center;
  border: 4px solid var(--main-color);
  border-radius: 5px;
  padding: 30px 0;
}

div h2 {
  margin: 0px;
}
#second-number {
  position: relative;
}
#operation {
  position: absolute;
  left: -20px;
}
.score-container {
  position: absolute;
  top: 30px;
  right: 50px;
  background-color: var(--main-pink);
  border-radius: 5px;
  border: 3px solid var(--main-color);
  padding: 15px;
  font-size: 1.5rem;
  color: var(--white);
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.3);
}

.wrong-container {
  position: absolute;
  top: 100px;
  right: 50px;
  /* width: 195px; */
  background-color: rgb(252, 131, 88);
  border-radius: 5px;
  border: 3px solid var(--main-color);
  padding: 15px;
  font-size: 1.5rem;
  letter-spacing: 0.065rem;
  color: var(--white);
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.3);
  /* z-index: 1; */
}
.timer {
  position: absolute;
  background-color: var(--main-pink);
  padding: 15px;
  border-radius: 5px;
  border: 3px solid var(--main-color);
  color: var(--white);
  top: 30px;
  left: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.3);
}

.timer:hover {
  filter: brightness(1.25);
}
.timer:active {
  transform: scale(0.98);
}

.high-score {
  position: absolute;
  background-color: var(--main-pink);
  padding: 15px;
  border-radius: 5px;
  border: 3px solid var(--main-color);
  color: var(--white);
  top: 100px;
  left: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.3);
}

.high-score:hover {
  filter: brightness(1.25);
}
.high-score:active {
  transform: scale(0.98);
}
.high-scores-container {
  position: absolute;
  top: 170px;
  left: 50px;
  color: var(--white);
  z-index: 10;
  text-align: center;
  background-color: var(--main-pink);
  padding: 10px;
  border: 3px solid var(--main-color);
  border-radius: 5px;
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.3);
  transform: translateX(-390px);
  visibility: hidden;
  transition: all 0.5s ease;
}

.show {
  transform: translateX(0px);
  visibility: visible;
}

.correct {
  font-family: '';
  font-size: 1.65rem;
  box-shadow: 0 0 6px 10px rgba(255, 110, 175, 0.5);
  border-radius: 5px;
}
.wrong {
  box-shadow: 0 0 6px 10px rgba(255, 12, 50, 0.5);
  border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.modal {
  position: absolute;
  top: 110px;
  background-color: var(--white);
  border: 5px solid var(--main-color);
  border-radius: 10px;
  padding: 15px 60px 40px;
  font-size: 2rem;
  text-align: center;
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-600px);
  transition: transform 0.6s ease;
  z-index: 10;
}

.time {
  padding-bottom: 2px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 10px;
  border: 5px solid rgb(41, 41, 41);
  cursor: pointer;
  margin: 10px;
}

.fa-heart {
  position: absolute;
  color: rgb(255, 147, 165);
  font-size: 5rem;
  animation: grow 0.6s linear;
  transform: translate(-50%, -50%) scale(0);
}

.fa-x {
  position: absolute;
  color: red;
  font-size: 5rem;
  animation: grow 0.6s linear;
  transform: translate(-50%, -50%) scale(0);
}

.settings {
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 45px;
  left: 15px;
  transition: transform 0.6s;
  color: var(--white);
}
.settings:hover {
  transform: rotate(60deg);
}

.modal input {
  font-size: 2rem;
  width: 140px;
  text-align: center;
}
.modal h3 {
  text-align: left;
  margin: 0 0 20px 0;
}

#player {
  width: 200px;
}

/* -------------Footer --------------- */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--alt-main-color);
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  border-top: 1px solid var(--main-color);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

footer > small {
  font-size: 1.5rem;
}
footer a {
  color: var(--white);
}

/* ------------Media query----------- */

@media only screen and (max-width: 900px) {
  .math-game {
    opacity: 0;
    transition: opacity 500ms ease;
    margin-bottom: 0;
    z-index: -5;
    
  }
  .game {
    margin: 0;
  }
  .long-github {
    display: none;
  }
  .github-emblem {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 500px) {
  body {
    padding-top: 65px;
  }
  .modal {
    font-size: 1.4rem;
  }
  .wrong-container,
  .high-score,
  .timer,
  .score-container {
    font-size: 1.05rem;
    padding: 16px 10px;
  }
  /* .score-container,
  .wrong-container {
    right: 20px;
  } */
  .game {
    margin: 10px;
  }
  .high-scores-container.show {
    transform: translateX(-22px);
    visibility: visible;
  }
  .long-github {
    display: none;
  }
  .github-emblem {
    font-size: 1.6rem;
  }
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}
